{% extends 'store/main.html'%}
{% load static %}

{% block content %}
    <section class="mt-5">
        <div class="container">
            <div class="cart">
            <div class="table-responsive">
                <table class="table">
                    <thead class="thead">
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for item in items %}
                        <tr>
                            <td>
                                <div class="main">
                                    <div class="d-flex">
                                        <img src="{{ item.product.image.url }}"alt="">
                                    </div>
                                    <div class="des">
                                        <p>{{item.product.name}}</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h6>{{item.product.price|floatformat:2}}</h6>
                            </td>
                            <td>
                                <div class="counter">
                                    <button  data-product={{item.product.id}} data-action="remove" class="counter-btn  chg-quantity update-cart"><i class="fas fa-angle-down"></i></button>
                                    <input class="input-number"type="text"
                                    value={{item.quantity}} min="0"max="10">
                                    <button  data-product={{item.product.id}} data-action="add" class="counter-btn  chg-quantity update-cart"><i class="fas fa-angle-up"></i></button>
                                </div>
                            </td>
                            <td>
                                <h6>${{item.get_total_price|floatformat:2}}</h6>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            </div>
        </div>
    </section>
    <div class="col-lg-4 offset-lg-4">
        <div class="checkout">
            <ul>
                <li class="subtotal">Total Items:
                    <span>{{order.get_cart_items}}</span>
                </li>
                <li class="cart-total">Total
                <span>$${{order.get_cart_total|floatformat:2}}</span></li>
            </ul>
            <a href="{% url 'checkout' %}" class=" btn btn-outline-dark proceed-btn">Proceed to Checkout</a>
        </div>
    </div>
</div> 

<!-- <div class="cart-section">
        <div class="product-list">
            <p class="section-heading">Your cart</p>
            <div class="cart-container">
                {% for item in items %}
                <div class="cart-sm-product">
                    <img src="{{ item.product.image.url }}" class="cart-sm-product-img" alt="">
                    <div class="cart-sm-text">
                        <p class="cart-product-name">{{item.product.name}}</p>
                    <p class="cart-product-desc">{{item.product.price|floatformat:2}}</p>
                    </div>
                    <div class="item-counter">
                        <button  data-product={{item.product.id}} data-action="remove" class="counter-btn  chg-quantity update-cart">-</button>
                        <p class="item-count">{{item.quantity}}</p>
                        <button data-product={{item.product.id}} data-action="add" class="counter-btn  chg-quantity update-cart">+</button>
                    </div>
                    <p class="cart-price">${{item.get_total_price|floatformat:2}}</p>
                    <button class="cart-delete-btn" ><img src="{% static 'img/close-icon.png' %}" class="close-btn-img" alt=""></button>
                </div>
            </div>
            {% endfor %}

        <div class="checkout-section">
            <div class="checkout-box">
                <p class="cart-text">{{order.get_cart_items}}</p>
                <p class="cart-text">Your Total Bill,</p>
                <h1 class="bill">${{order.get_cart_total|floatformat:2}}</h1>
                <a href="{% url 'checkout' %}" class="checkout-btn">Checkout</a>
            </div>
        </div>
    </div>
</div> -->

{% endblock %}